{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Votre Panier</h1>

		{% if items | length %}
			<table class="table">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>
								<a href="{{path('product_show',{ 'category_slug':item.product.category.slug, 'product_slug':item.product.slug })}}">{{item.product.name}}</a>
							</td>
							<td>{{item.product.price | amount('$','.',',') }}
							</td>
							<td>
								<a href="{{path('cart_decrement',{'id':item.product.id})}}" class="btn btn-sm btn-primary">
									<i class="fas fa-minus"></i>
								</a>
								{{item.qty}}
								<a href="{{path('cart_add',{'id':item.product.id})}}?returnToCart=true" class="btn btn-sm btn-primary">
									<i class="fas fa-plus"></i>
								</a>
							</td>
							<td>{{item.total | amount }}
							</td>
							<td>
								<a href="{{ path("cart_delete",{'id':item.product.id}) }}" class="btn btn-sm btn-danger">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Total :
						</td>
						<td colspan="2">{{total | amount}}
						</td>
					</tr>
				</tfoot>
			</table>
		{% else %}
			<h2>Le panier est vide</h2>
		{% endif %}
	</div>

	<hr>

	{% if app.user %}
		<h2>Confirmez votre commande en remplissant ce formulaire</h2>

		{{form_start(confirmationForm,{'action':path('purchase_confirm')})}}

		{{form_widget(confirmationForm)}}

		<button type="submit" class="btn btn-success">Valider</button>

		{{form_end(confirmationForm)}}
	{% else %}
		<h2>Vous devez être connecté pour confirmer cette commande</h2>
		<a href=" {{path('security_login')}} " class="btn btn-success">Connexion</a>
	{% endif %}
{% endblock %}
