{% extends 'base.html.twig' %}

{% block title %}Mes commandes
{% endblock %}

{% block body %}

	<h1>Mes commandes</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Adresse de livraison</th>
				<th>Date de commande</th>
				<th>Produits</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for p in purchases %}
				<tr>
					<td>{{p.id}}</td>
					<td>{{p.address}}
						<br>{{p.postalCode}},
						{{p.city}}
					</td>
					<td>
						<ul>
							{% for item in p.purchaseItems %}
								<li>
									{{item.quantity}}x
									{{item.productName }}
									({{item.total}})</li>
							{% endfor %}
						</ul>
					</td>
					<td>{{p.purchasedAt | date("d/m/Y")}}</td>
					<td>{{p.total | amount}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table></div>{% endblock %}
